# NOAA.GOV API References

#### https://www.ndbc.noaa.gov/faq/measdes.shtml
#### https://www.ncei.noaa.gov/access/search/data-search/normals-monthly-1991-2020
#### https://www.ncdc.noaa.gov/cdo-web/webservices/v2#gettingStarted
#### https://www.ncei.noaa.gov/data/gsom/doc/GSOM_documentation.pdf

#### https://github.com/CanadianLatin/Project-4---MachineLearningIntegration![image.png](attachment:image.png)

In [7]:
# Import Dependencies


import json
import requests
from pprint import pprint
import pandas as pd
import time

# Import the API key
from api_keys import noaa_token
from api_keys import username, password

In [2]:
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database
from getpass import getpass

url = f'postgresql://{username}:{password}@localhost:5432/noaa_db'

# Create an engine object.
engine = create_engine(url, echo=True)

# Create database if it does not exist.
if not database_exists(engine.url):
    create_database(engine.url)
    connection = engine.connect()
else:
    # Connect the database if exists.
    connection = engine.connect()

2023-06-04 14:05:59,942 INFO sqlalchemy.engine.Engine select version()
2023-06-04 14:05:59,943 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-06-04 14:05:59,945 INFO sqlalchemy.engine.Engine select current_schema()
2023-06-04 14:05:59,945 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-06-04 14:05:59,947 INFO sqlalchemy.engine.Engine show standard_conforming_strings
2023-06-04 14:05:59,947 INFO sqlalchemy.engine.Engine [raw sql] {}

In [ ]:
engine.execute('TRUNCATE TABLE ny_info')
engine.execute('DROP TABLE IF EXISTS "ny_info"')
               
engine.execute('CREATE TABLE IF NOT EXISTS "ny_info" ('
'DATE date,'
'PRCP float,'
'TAVG float,' 
'AWND float,'
'TMIN float,'
'TMAX float);')

In [28]:
# engine.execute("delete from ny_info where date='2017-01-01'")

2023-06-04 14:35:22,468 INFO sqlalchemy.engine.Engine delete from ny_info where date='2017-01-01'
2023-06-04 14:35:22,470 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-06-04 14:35:22,477 INFO sqlalchemy.engine.Engine COMMIT

In [49]:
# df = pd.read_sql('select * from ny_info order by date desc', con=engine, index_col=None)
df = pd.read_sql("select * from ny_info where extract('Year' from date)='2022' order by date", con=engine, index_col=None)

df.head(12)

2023-06-04 22:03:55,571 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-06-04 22:03:55,573 INFO sqlalchemy.engine.Engine [cached since 1.522e+04s ago] {'name': "select * from ny_info where extract('Year' from date)='2022' order by date"}
2023-06-04 22:03:55,578 INFO sqlalchemy.engine.Engine select * from ny_info where extract('Year' from date)='2022' order by date
2023-06-04 22:03:55,580 INFO sqlalchemy.engine.Engine [raw sql] {}

          date   prcp   tavg  awnd   tmin   tmax
0   2022-01-01  111.1  -0.89   6.0  -5.15   3.38
1   2022-02-01   78.2   2.06   5.8  -2.68   6.80
2   2022-03-01   66.6   6.32   5.9   2.05  10.59
3   2022-04-01   78.6  10.52   6.2   6.31  14.74
4   2022-05-01  110.3  16.80   4.7  12.30  21.31
5   2022-06-01   82.5  21.27   4.8  16.92  25.61
6   2022-07-01   28.0  26.27   4.7  22.02  30.52
7   2022-08-01   21.7  25.94   4.5  21.68  30.52
8   2022-09-01   47.1  21.29   4.8  17.05  25.53
9   2022-10-01  142.5  13.95   4.7   9.86  18.03
10  2022-11-01   61.7  10.15   5.4   5.97  14.32
11  2022-12-01   80.6   3.07   5.9  -0.58   6.73

## Extract NOAA.GOV API Weather Data

In [43]:
# Pull API for Average Monthly Precipitation from Jan 2012 to Dec 2022
# Data should have Station ID, Month, Year, Total Monthly precipitation (in mm?)
# Create a DataFrame df_prcp

station_id = "GHCND:USW00094789"
url = f"https://www.ncei.noaa.gov/cdo-web/api/v2/data?datasetid=GSOM&stationid={station_id}"
datatype_list = ["PRCP", "TAVG", "AWND", "TMIN", "TMAX"]


for year in range(2010, 2023):
    print('working on year: '+ str(year))
    
    for month in range(1, 13):
        if month < 10:
            mon = f"0{month}"
        else:
            mon = str(month)
            
        print('month: '+ mon)
        
        for datatype in datatype_list:

            api_url = f"{url}&datatypeid={datatype}&startdate={year}-{mon}-01&enddate={year}-{mon}-01"
#             print(f"{api_url}\n")
#             break

            try:
                response = requests.get(api_url, headers={'token': noaa_token}).json()
                print(response['results'][0]['datatype'])
                print(response['results'][0]['value'])
                
                
                date = f"{year}-{mon}-01"


                if response['results'][0]['datatype'] == "PRCP":
                    prcp = response['results'][0]['value']
                elif response['results'][0]['datatype'] == "TAVG":
                    tavg = response['results'][0]['value'] 
                elif response['results'][0]['datatype'] == "AWND":
                    awnd = response['results'][0]['value']
                elif response['results'][0]['datatype'] == "TMIN":
                    tmin = response['results'][0]['value']
                elif response['results'][0]['datatype'] == "TMAX":
                    tmax = response['results'][0]['value']  

                time.sleep(1)
#                 break
            except:
                print("An exception occurred")
                pass
            
        sql = f"insert into ny_info values('{date}',{prcp},{tavg},{awnd},{tmin},{tmax})"   
        print(sql) 
        
        engine.execute(sql)
        time.sleep(2)

#             break   
#         break
#     break

working on year: 2020
month: 01
PRCP
49.2
TAVG
3.73
AWND
5.6
TMIN
-0.01
TMAX
7.46
insert into ny_info values('2020-01-01',49.2,3.73,5.6,-0.01,7.46)
2023-06-04 16:12:05,567 INFO sqlalchemy.engine.Engine insert into ny_info values('2020-01-01',49.2,3.73,5.6,-0.01,7.46)
2023-06-04 16:12:05,569 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-06-04 16:12:05,573 INFO sqlalchemy.engine.Engine COMMIT
month: 02
PRCP
86.7
TAVG
4.11
AWND
5.3
TMIN
0.33
TMAX
7.88
insert into ny_info values('2020-02-01',86.7,4.11,5.3,0.33,7.88)
2023-06-04 16:12:15,114 INFO sqlalchemy.engine.Engine insert into ny_info values('2020-02-01',86.7,4.11,5.3,0.33,7.88)
2023-06-04 16:12:15,115 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-06-04 16:12:15,117 INFO sqlalchemy.engine.Engine COMMIT
month: 03
PRCP
95.6
TAVG
8.03
AWND
5.6
TMIN
3.86
TMAX
12.21
insert into ny_info values('2020-03-01',95.6,8.03,5.6,3.86,12.21)
2023-06-04 16:12:24,486 INFO sqlalchemy.engine.Engine insert into ny_info values('2020-03-01',95.6,8.03,5.6,3.86,12.21)
2023-06-04 16:12:24,488 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-06-04 16:12:24,492 INFO sqlalchemy.engine.Engine COMMIT
month: 04
PRCP
83.6
TAVG
9.21
AWND
6.4
TMIN
5.15
TMAX
13.27
insert into ny_info values('2020-04-01',83.6,9.21,6.4,5.15,13.27)
2023-06-04 16:12:33,643 INFO sqlalchemy.engine.Engine insert into ny_info values('2020-04-01',83.6,9.21,6.4,5.15,13.27)
2023-06-04 16:12:33,645 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-06-04 16:12:33,649 INFO sqlalchemy.engine.Engine COMMIT
month: 05
PRCP
34
TAVG
14.55
AWND
5.2
TMIN
9.63
TMAX
19.48
insert into ny_info values('2020-05-01',34,14.55,5.2,9.63,19.48)
2023-06-04 16:12:43,139 INFO sqlalchemy.engine.Engine insert into ny_info values('2020-05-01',34,14.55,5.2,9.63,19.48)
2023-06-04 16:12:43,141 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-06-04 16:12:43,145 INFO sqlalchemy.engine.Engine COMMIT
month: 06
PRCP
80.4
TAVG
21.92
AWND
4.5
TMIN
17.15
TMAX
26.69
insert into ny_info values('2020-06-01',80.4,21.92,4.5,17.15,26.69)
2023-06-04 16:12:52,405 INFO sqlalchemy.engine.Engine insert into ny_info values('2020-06-01',80.4,21.92,4.5,17.15,26.69)
2023-06-04 16:12:52,406 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-06-04 16:12:52,410 INFO sqlalchemy.engine.Engine COMMIT
month: 07
PRCP
131.1
TAVG
26.27
AWND
4.4
TMIN
22.33
TMAX
30.21
insert into ny_info values('2020-07-01',131.1,26.27,4.4,22.33,30.21)
2023-06-04 16:13:01,576 INFO sqlalchemy.engine.Engine insert into ny_info values('2020-07-01',131.1,26.27,4.4,22.33,30.21)
2023-06-04 16:13:01,577 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-06-04 16:13:01,581 INFO sqlalchemy.engine.Engine COMMIT
month: 08
PRCP
71.6
TAVG
24.59
AWND
4.4
TMIN
20.81
TMAX
28.37
insert into ny_info values('2020-08-01',71.6,24.59,4.4,20.81,28.37)
2023-06-04 16:13:10,816 INFO sqlalchemy.engine.Engine insert into ny_info values('2020-08-01',71.6,24.59,4.4,20.81,28.37)
2023-06-04 16:13:10,818 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-06-04 16:13:10,821 INFO sqlalchemy.engine.Engine COMMIT
month: 09
PRCP
72.6
TAVG
20.21
AWND
4.4
TMIN
16.05
TMAX
24.36
insert into ny_info values('2020-09-01',72.6,20.21,4.4,16.05,24.36)
2023-06-04 16:13:20,008 INFO sqlalchemy.engine.Engine insert into ny_info values('2020-09-01',72.6,20.21,4.4,16.05,24.36)
2023-06-04 16:13:20,010 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-06-04 16:13:20,014 INFO sqlalchemy.engine.Engine COMMIT
month: 10
PRCP
126.5
TAVG
14.55
AWND
4.4
TMIN
10.83
TMAX
18.26
insert into ny_info values('2020-10-01',126.5,14.55,4.4,10.83,18.26)
2023-06-04 16:13:29,187 INFO sqlalchemy.engine.Engine insert into ny_info values('2020-10-01',126.5,14.55,4.4,10.83,18.26)
2023-06-04 16:13:29,189 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-06-04 16:13:29,193 INFO sqlalchemy.engine.Engine COMMIT
month: 11
PRCP
118
TAVG
10.5
AWND
5.2
TMIN
5.79
TMAX
15.2
insert into ny_info values('2020-11-01',118,10.5,5.2,5.79,15.2)
2023-06-04 16:13:38,738 INFO sqlalchemy.engine.Engine insert into ny_info values('2020-11-01',118,10.5,5.2,5.79,15.2)
2023-06-04 16:13:38,740 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-06-04 16:13:38,744 INFO sqlalchemy.engine.Engine COMMIT
month: 12
PRCP
89.8
TAVG
3.61
AWND
5.9
TMIN
0.18
TMAX
7.04
insert into ny_info values('2020-12-01',89.8,3.61,5.9,0.18,7.04)
2023-06-04 16:13:47,931 INFO sqlalchemy.engine.Engine insert into ny_info values('2020-12-01',89.8,3.61,5.9,0.18,7.04)
2023-06-04 16:13:47,932 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-06-04 16:13:47,937 INFO sqlalchemy.engine.Engine COMMIT
working on year: 2021
month: 01
PRCP
57.9
TAVG
1.57
AWND
5.7
TMIN
-1.93
TMAX
5.06
insert into ny_info values('2021-01-01',57.9,1.57,5.7,-1.93,5.06)
2023-06-04 16:13:57,178 INFO sqlalchemy.engine.Engine insert into ny_info values('2021-01-01',57.9,1.57,5.7,-1.93,5.06)
2023-06-04 16:13:57,180 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-06-04 16:13:57,183 INFO sqlalchemy.engine.Engine COMMIT
month: 02
PRCP
121.3
TAVG
0.69
AWND
5.6
TMIN
-2.13
TMAX
3.51
insert into ny_info values('2021-02-01',121.3,0.69,5.6,-2.13,3.51)
2023-06-04 16:14:06,361 INFO sqlalchemy.engine.Engine insert into ny_info values('2021-02-01',121.3,0.69,5.6,-2.13,3.51)
2023-06-04 16:14:06,363 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-06-04 16:14:06,367 INFO sqlalchemy.engine.Engine COMMIT
month: 03
PRCP
78.3
TAVG
6.66
AWND
5.9
TMIN
1.82
TMAX
11.51
insert into ny_info values('2021-03-01',78.3,6.66,5.9,1.82,11.51)
2023-06-04 16:14:15,568 INFO sqlalchemy.engine.Engine insert into ny_info values('2021-03-01',78.3,6.66,5.9,1.82,11.51)
2023-06-04 16:14:15,570 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-06-04 16:14:15,573 INFO sqlalchemy.engine.Engine COMMIT
month: 04
PRCP
68
TAVG
11.08
AWND
5.3
TMIN
6.3
TMAX
15.86
insert into ny_info values('2021-04-01',68,11.08,5.3,6.3,15.86)
2023-06-04 16:14:24,761 INFO sqlalchemy.engine.Engine insert into ny_info values('2021-04-01',68,11.08,5.3,6.3,15.86)
2023-06-04 16:14:24,763 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-06-04 16:14:24,767 INFO sqlalchemy.engine.Engine COMMIT
month: 05
PRCP
114.8
TAVG
16.25
AWND
5
TMIN
11.16
TMAX
21.34
insert into ny_info values('2021-05-01',114.8,16.25,5,11.16,21.34)
2023-06-04 16:14:33,978 INFO sqlalchemy.engine.Engine insert into ny_info values('2021-05-01',114.8,16.25,5,11.16,21.34)
2023-06-04 16:14:33,980 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-06-04 16:14:33,984 INFO sqlalchemy.engine.Engine COMMIT
month: 06
PRCP
39.9
TAVG
21.9
AWND
4.7
TMIN
17.24
TMAX
26.56
insert into ny_info values('2021-06-01',39.9,21.9,4.7,17.24,26.56)
2023-06-04 16:14:43,198 INFO sqlalchemy.engine.Engine insert into ny_info values('2021-06-01',39.9,21.9,4.7,17.24,26.56)
2023-06-04 16:14:43,200 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-06-04 16:14:43,203 INFO sqlalchemy.engine.Engine COMMIT
month: 07
PRCP
149.8
TAVG
24.32
AWND
4.2
TMIN
20.33
TMAX
28.32
insert into ny_info values('2021-07-01',149.8,24.32,4.2,20.33,28.32)
2023-06-04 16:14:52,703 INFO sqlalchemy.engine.Engine insert into ny_info values('2021-07-01',149.8,24.32,4.2,20.33,28.32)
2023-06-04 16:14:52,705 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-06-04 16:14:52,709 INFO sqlalchemy.engine.Engine COMMIT
month: 08
PRCP
187.4
TAVG
24.95
AWND
4.1
TMIN
21.37
TMAX
28.53
insert into ny_info values('2021-08-01',187.4,24.95,4.1,21.37,28.53)
2023-06-04 16:15:01,899 INFO sqlalchemy.engine.Engine insert into ny_info values('2021-08-01',187.4,24.95,4.1,21.37,28.53)
2023-06-04 16:15:01,900 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-06-04 16:15:01,904 INFO sqlalchemy.engine.Engine COMMIT
month: 09
PRCP
115.6
TAVG
21.52
AWND
4.9
TMIN
17.5
TMAX
25.54
insert into ny_info values('2021-09-01',115.6,21.52,4.9,17.5,25.54)
2023-06-04 16:15:11,044 INFO sqlalchemy.engine.Engine insert into ny_info values('2021-09-01',115.6,21.52,4.9,17.5,25.54)
2023-06-04 16:15:11,046 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-06-04 16:15:11,050 INFO sqlalchemy.engine.Engine COMMIT
month: 10
PRCP
110.9
TAVG
17.24
AWND
4.9
TMIN
13.42
TMAX
21.06
insert into ny_info values('2021-10-01',110.9,17.24,4.9,13.42,21.06)
2023-06-04 16:15:20,186 INFO sqlalchemy.engine.Engine insert into ny_info values('2021-10-01',110.9,17.24,4.9,13.42,21.06)

2023-06-04 16:15:20,188 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-06-04 16:15:20,191 INFO sqlalchemy.engine.Engine COMMIT
month: 11
PRCP
17
TAVG
7.95
AWND
5
TMIN
3.55
TMAX
12.34
insert into ny_info values('2021-11-01',17,7.95,5,3.55,12.34)
2023-06-04 16:15:29,386 INFO sqlalchemy.engine.Engine insert into ny_info values('2021-11-01',17,7.95,5,3.55,12.34)
2023-06-04 16:15:29,387 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-06-04 16:15:29,390 INFO sqlalchemy.engine.Engine COMMIT
month: 12
PRCP
43.4
TAVG
6.32
AWND
4.8
TMIN
3.05
TMAX
9.59
insert into ny_info values('2021-12-01',43.4,6.32,4.8,3.05,9.59)
2023-06-04 16:15:38,531 INFO sqlalchemy.engine.Engine insert into ny_info values('2021-12-01',43.4,6.32,4.8,3.05,9.59)
2023-06-04 16:15:38,533 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-06-04 16:15:38,537 INFO sqlalchemy.engine.Engine COMMIT
working on year: 2022
month: 01
PRCP
111.1
TAVG
-0.89
AWND
6
TMIN
-5.15
TMAX
3.38
insert into ny_info values('2022-01-01',111.1,-0.89,6,-5.15,3.38)
2023-06-04 16:15:47,664 INFO sqlalchemy.engine.Engine insert into ny_info values('2022-01-01',111.1,-0.89,6,-5.15,3.38)
2023-06-04 16:15:47,665 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-06-04 16:15:47,669 INFO sqlalchemy.engine.Engine COMMIT
month: 02
PRCP
78.2
TAVG
2.06
AWND
5.8
TMIN
-2.68
TMAX
6.8
insert into ny_info values('2022-02-01',78.2,2.06,5.8,-2.68,6.8)
2023-06-04 16:15:56,856 INFO sqlalchemy.engine.Engine insert into ny_info values('2022-02-01',78.2,2.06,5.8,-2.68,6.8)
2023-06-04 16:15:56,858 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-06-04 16:15:56,861 INFO sqlalchemy.engine.Engine COMMIT
month: 03
PRCP
66.6
TAVG
6.32
AWND
5.9
TMIN
2.05
TMAX
10.59
insert into ny_info values('2022-03-01',66.6,6.32,5.9,2.05,10.59)
2023-06-04 16:16:06,048 INFO sqlalchemy.engine.Engine insert into ny_info values('2022-03-01',66.6,6.32,5.9,2.05,10.59)
2023-06-04 16:16:06,049 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-06-04 16:16:06,052 INFO sqlalchemy.engine.Engine COMMIT
month: 04
PRCP
78.6
TAVG
10.52
AWND
6.2
TMIN
6.31
TMAX
14.74
insert into ny_info values('2022-04-01',78.6,10.52,6.2,6.31,14.74)
2023-06-04 16:16:15,188 INFO sqlalchemy.engine.Engine insert into ny_info values('2022-04-01',78.6,10.52,6.2,6.31,14.74)
2023-06-04 16:16:15,190 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-06-04 16:16:15,192 INFO sqlalchemy.engine.Engine COMMIT
month: 05
PRCP
110.3
TAVG
16.8
AWND
4.7
TMIN
12.3
TMAX
21.31
insert into ny_info values('2022-05-01',110.3,16.8,4.7,12.3,21.31)
2023-06-04 16:16:24,346 INFO sqlalchemy.engine.Engine insert into ny_info values('2022-05-01',110.3,16.8,4.7,12.3,21.31)
2023-06-04 16:16:24,348 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-06-04 16:16:24,351 INFO sqlalchemy.engine.Engine COMMIT
month: 06
PRCP
82.5
TAVG
21.27
AWND
4.8
TMIN
16.92
TMAX
25.61
insert into ny_info values('2022-06-01',82.5,21.27,4.8,16.92,25.61)
2023-06-04 16:16:33,490 INFO sqlalchemy.engine.Engine insert into ny_info values('2022-06-01',82.5,21.27,4.8,16.92,25.61)
2023-06-04 16:16:33,492 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-06-04 16:16:33,496 INFO sqlalchemy.engine.Engine COMMIT
month: 07
PRCP
28
TAVG
26.27
AWND
4.7
TMIN
22.02
TMAX
30.52
insert into ny_info values('2022-07-01',28,26.27,4.7,22.02,30.52)
2023-06-04 16:16:42,657 INFO sqlalchemy.engine.Engine insert into ny_info values('2022-07-01',28,26.27,4.7,22.02,30.52)
2023-06-04 16:16:42,659 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-06-04 16:16:42,663 INFO sqlalchemy.engine.Engine COMMIT
month: 08
PRCP
21.7
TAVG
25.94
AWND
4.5
TMIN
21.68
An exception occurred
insert into ny_info values('2022-08-01',21.7,25.94,4.5,21.68,30.52)
2023-06-04 16:17:20,840 INFO sqlalchemy.engine.Engine insert into ny_info values('2022-08-01',21.7,25.94,4.5,21.68,30.52)
2023-06-04 16:17:20,841 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-06-04 16:17:20,844 INFO sqlalchemy.engine.Engine COMMIT
month: 09
PRCP
47.1
TAVG
21.29
AWND
4.8
TMIN
17.05
TMAX
25.53
insert into ny_info values('2022-09-01',47.1,21.29,4.8,17.05,25.53)
2023-06-04 16:17:29,979 INFO sqlalchemy.engine.Engine insert into ny_info values('2022-09-01',47.1,21.29,4.8,17.05,25.53)
2023-06-04 16:17:29,981 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-06-04 16:17:29,985 INFO sqlalchemy.engine.Engine COMMIT
month: 10
PRCP
142.5
TAVG
13.95
AWND
4.7
TMIN
9.86
TMAX
18.03
insert into ny_info values('2022-10-01',142.5,13.95,4.7,9.86,18.03)
2023-06-04 16:17:39,234 INFO sqlalchemy.engine.Engine insert into ny_info values('2022-10-01',142.5,13.95,4.7,9.86,18.03)
2023-06-04 16:17:39,235 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-06-04 16:17:39,238 INFO sqlalchemy.engine.Engine COMMIT
month: 11
PRCP
61.7
TAVG
10.15
AWND
5.4
TMIN
5.97
TMAX
14.32
insert into ny_info values('2022-11-01',61.7,10.15,5.4,5.97,14.32)
2023-06-04 16:17:48,649 INFO sqlalchemy.engine.Engine insert into ny_info values('2022-11-01',61.7,10.15,5.4,5.97,14.32)
2023-06-04 16:17:48,650 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-06-04 16:17:48,654 INFO sqlalchemy.engine.Engine COMMIT
month: 12
PRCP
80.6
TAVG
3.07
AWND
5.9
TMIN
-0.58
TMAX
6.73
insert into ny_info values('2022-12-01',80.6,3.07,5.9,-0.58,6.73)
2023-06-04 16:17:57,914 INFO sqlalchemy.engine.Engine insert into ny_info values('2022-12-01',80.6,3.07,5.9,-0.58,6.73)
2023-06-04 16:17:57,916 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-06-04 16:17:57,920 INFO sqlalchemy.engine.Engine COMMIT

In [54]:
df = pd.read_sql('select * from ny_info', con=engine, index_col=None)
df.head()

2023-06-04 23:10:58,100 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-06-04 23:10:58,120 INFO sqlalchemy.engine.Engine [cached since 1.709e+04s ago] {'name': 'select * from ny_info'}
2023-06-04 23:10:58,131 INFO sqlalchemy.engine.Engine select * from ny_info
2023-06-04 23:10:58,132 INFO sqlalchemy.engine.Engine [raw sql] {}

         date   prcp   tavg  awnd   tmin   tmax
0  2010-01-01   42.5   0.08   6.0  -3.53   3.68
1  2010-02-01  152.9   0.60   6.3  -2.12   3.31
2  2010-03-01  219.2   8.37   6.1   4.15  12.59
3  2010-04-01   85.9  13.00   4.9   8.10  17.90
4  2010-05-01   50.4  17.70   4.6  12.61  22.78

In [55]:
df.to_csv("ny.csv", index=False)